
.side-account-img img {
    margin: 0 auto;
    border-radius: 150px;
    height: 100px;
    margin-top: 5%;
  
    height: 70px;
    width: 70px;
    overflow: hidden;
  }
  
  .custom-round-badge{
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 8px;
    padding: 6px 8px;
    border-radius: 10px;
  }

.side-left-space{
    padding-left: 16px;
}